<div data-testid="odd-template">
  <span data-testid="template-name">odd</span>
  <span data-testid="count-value"><%= count %></span>
  <button live-action="increment" data-testid="increment-button">Increment</button>
</div>
