<% content_for :title, "Render Component Test - LiveCable" %>
<h1>Render Component Test</h1>

<div data-testid="render-component-page">
  <%= live('render_component', id: 'render-component') %>
</div>
